*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container{
  position:relative;
  width:100%;
  height:100vh;
}

.LoginWaves{
  position:absolute;
  bottom:0;
  left:0;
}

.LoginHuman{
  position:absolute;
  top:83px;
  left:36px;
}

.FormBoxVector{
  position: absolute;
  height:220px;
  width:240px;
  left:20%;
}

.tree{
  position:absolute;
  top:34%;
  left:33%;
}
