*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.containerStudent{
  width:100%;
  height:100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction:column;
  position: relative;
  overflow: hidden;
}
.studentWaves{
  position:absolute;
  right:0;
  bottom:0;
  height:650px;
  width:740px;
}

.humanInSP{
  height:740px;
  width:840px;
  position:absolute;
  right: 60px;
}
