.academicContainer>p{
  width:85%;
  height:30px;
  font-size:1.235rem;
  font-family:'Poppins';
  font-weight:600;
  margin-bottom:20px;
}

.academicActivityDatas>Inputs:nth-child(1){
  grid-area:id;
}
.academicActivityDatas>Inputs:nth-child(2){
  grid-area:name;
}
.academicActivityDatas>Inputs:nth-child(3){
  grid-area:academic;
}
.academicActivityDatas>Inputs:nth-child(4){
  grid-area:non;
}
.academicActivityDatas>Inputs:nth-child(5){
  grid-area:levels;
}
